mixin plan(modifier)
  section.plan&attributes(attributes)
    .plan__content 
      include img/elips.svg
      .plan__cont
        img(src="img/ball.svg").plan__image
        h2.plan__title Что даст тебе обучение?
      .plan__box 
        .plan__item 
          img(src="img/smile.png" alt="Смайлик со звездочками").plan__img
          p.plan__text Откроешь свой первый криптокошелек и научишься с ним работать 
        .plan__item 
          img(src="img/smile-link.png").plan__img
          p.plan__text Поймёшь, как выбирать правильные дропы
        .plan__item 
          img(src="img/smile-money.png").plan__img
          p.plan__text Построишь план по быстрому приумножению заработанных средств
        .plan__item 
          img(src="img/smile-glasses.png").plan__img
          p.plan__text Узнаешь кто такие холдеры и флипперы



