mixin main(modifier)
  section.main&attributes(attributes)
    .main__content 
      .main__inner 
        .main__info 
          h1.main__title Не упусти возможность войти в <span>прибыльную нишу</span>
          img(src="img/homo.png" alt="").main__image
          p.main__text Получи все нужные навыки для заработка на NFT всего за 28 дней!
          button(type="button").main__btn Начать зарабатывать на NFT
        .main__picture
          img(src="img/men.png" alt="NFT бизнесмен").main__img 
          //img(src="img/homo.png" alt="").main__image